body {
  margin: 0;
  width: 100%;
}
.header {
  width: 100%;
  text-align: center;
  height: 100vh;
}
.menu__nav {
  font-size: 15px;
  color: #979797;
  display: inline-block;
  margin: 0 20px;
  line-height: 65px;
  vertical-align: top;
}
.menu__nav:hover {
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .menu__nav {
    font-size: 14px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .menu__nav {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .menu__nav {
    font-size: 10px;
    line-height: 45px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 425px) {
  .menu__nav {
    margin: 0 5px;
  }
}
@media screen and (max-width: 375px) {
  .menu__nav {
    margin: 0 5px;
  }
}
.logo {
  margin: 0 25px;
  background-image: url('../images/logo.png');
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
@media screen and (max-width: 1440px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 45px;
    height: 45px;
    margin: 0 15px;
  }
}
@media screen and (max-width: 425px) {
  .logo {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 375px) {
  .logo {
    display: none;
  }
}
.content-section {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-section__title {
  font-size: 40px;
  color: #1e1e1e;
}
.content-section__text {
  font-size: 20px;
  color: #a0a0a0;
  font-style: italic;
}
.content-section__btn {
  font-size: 16px;
  text-transform: uppercase;
  color: #1e1e1e;
  border: 1px solid #1e1e1e;
  display: inline-block;
  padding: 15px 70px;
  margin-top: 40px;
  font-weight: bold;
}
@media screen and (max-width: 1440px) {
  .content-section__title {
    font-size: 30px;
  }
  .content-section__text {
    font-size: 14px;
  }
  .content-section__btn {
    font-size: 12px;
    padding: 15px 40px;
  }
}
.circle-cont {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.circle {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 5px;
  margin-top: 10px;
}
.circle_1 {
  opacity: 0.1;
}
.circle_2 {
  opacity: 0.2;
}
.circle_3 {
  opacity: 0.3;
}
.content-chronology {
  width: 100%;
  height: 100vh;
  background-image: url('../images/back-black.png');
  position: relative;
}
.content-chronology-line {
  background-image: url('../images/line.png');
  height: 100vh;
  width: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.content-chronology-line__circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 5px solid white;
  background-color: #1d1d1d;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-chronology-line__circle_1 {
  top: 15%;
}
.content-chronology-line__circle_2 {
  top: 25%;
}
.content-chronology-line__circle_3 {
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.content-chronology-line__circle_4 {
  top: 70%;
}
.content-chronology-text {
  position: absolute;
  color: #fefefe;
  width: 25%;
  transform: translate(0%, -25%);
}
.content-chronology-text_1 {
  top: 15%;
}
.content-chronology-text_2 {
  top: 25%;
}
.content-chronology-text_3 {
  top: 50%;
}
.content-chronology-text_4 {
  top: 70%;
}
.content-chronology-text_1,
.content-chronology-text_3 {
  left: 20%;
}
.content-chronology-text_2,
.content-chronology-text_4 {
  left: 55%;
}
.content-chronology-text__title {
  font-size: 40px;
  margin-bottom: 15px;
}
.content-chronology-text__title_1,
.content-chronology-text__title_3 {
  text-align: right;
}
.content-chronology-text__text {
  font-size: 18px;
  color: #b7b7b7;
}
@media screen and (max-width: 1440px) {
  .content-chronology-text__title {
    font-size: 35px;
  }
  .content-chronology-text__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .content-chronology {
    width: 100%;
    height: 100vh;
    background-image: url('../images/back-black.png');
    position: relative;
  }
  .content-chronology-text {
    width: 30%;
  }
  .content-chronology-text_1,
  .content-chronology-text_3 {
    left: 15%;
  }
}
@media screen and (max-width: 425px) {
  .content-chronology-line {
    width: 3px;
  }
  .content-chronology-line__circle {
    width: 8px;
    height: 8px;
    border: 2px solid white;
  }
  .content-chronology-line__circle_3 {
    width: 22px;
    height: 22px;
  }
  .content-chronology-text {
    width: 40%;
  }
  .content-chronology-text_1,
  .content-chronology-text_3 {
    left: 5%;
  }
  .content-chronology-text__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .content-chronology-text__title_1,
  .content-chronology-text__title_3 {
    text-align: right;
  }
  .content-chronology-text__text {
    font-size: 10px;
    color: #b7b7b7;
  }
}
.build-img {
  width: 100%;
  background-image: url('../images/buildings-b.png');
  height: 110px;
  position: absolute;
  bottom: 0;
  background-repeat-y: no-repeat;
  background-size: contain;
  background-position: bottom center;
}
.build-img_white {
  position: absolute;
  bottom: -2%;
  width: 100%;
  background-image: url('../images/buildings-w.png');
  height: 100%;
  background-repeat-y: no-repeat;
  background-size: contain;
  background-position: bottom center;
}
.team-cont {
  width: 100%;
  margin: 10% 0 15% 0;
}
@media screen and (max-width: 1440px) {
  .team-cont {
    margin: 7% 0 10% 0;
  }
}
.team-cont-article {
  text-align: center;
}
.team-cont-article__title {
  font-size: 45px;
  margin-bottom: 10px;
}
.team-cont-article__text {
  font-size: 22px;
  color: #888888;
}
@media screen and (max-width: 1440px) {
  .team-cont-article__title {
    font-size: 30px;
  }
  .team-cont-article__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .team-cont-article__title {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .team-cont-article__text {
    font-size: 12px;
  }
}
.team-cont-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 30em;
  margin-top: 50px;
}
@media screen and (max-width: 425px) {
  .team-cont-content {
    display: block;
    height: 100%;
  }
}
.team-cont-content-1 {
  width: 20%;
}
.team-cont-content-1_end {
  align-self: center;
}
.team-cont-content-1__img {
  width: 160px;
  height: 160px;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  margin: 0 auto 20px auto;
}
.team-cont-content-1__img_elem1 {
  background-image: url('../images/team1.png');
}
.team-cont-content-1__img_elem2 {
  background-image: url('../images/team2.png');
}
.team-cont-content-1__img_elem3 {
  background-image: url('../images/team3.png');
}
@media screen and (max-width: 1440px) {
  .team-cont-content-1__img {
    width: 135px;
    height: 135px;
  }
}
@media screen and (max-width: 768px) {
  .team-cont-content-1__img {
    width: 115px;
    height: 115px;
  }
}
@media screen and (max-width: 425px) {
  .team-cont-content-1 {
    display: block;
    width: 100%;
    margin-bottom: 35px;
  }
}
.team-cont-content-1-article {
  text-align: center;
  margin-bottom: 15px;
}
.team-cont-content-1-article__title {
  font-size: 30px;
}
.team-cont-content-1-article__text {
  font-size: 16px;
  color: #b3b3b3;
}
@media screen and (max-width: 1440px) {
  .team-cont-content-1-article__title {
    font-size: 24px;
  }
  .team-cont-content-1-article__text {
    font-size: 12px;
  }
}
.team-cont-content-1-soc {
  text-align: center;
}
.team-cont-content-1-soc__icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.team-cont-content-1-soc__icon_1 {
  background-image: url('../images/twitter.png');
  margin-right: 5px;
}
.team-cont-content-1-soc__icon_2 {
  background-image: url('../images/instagram.png');
}
@media screen and (max-width: 1440px) {
  .team-cont-content-1-soc__icon {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .team-cont-content-1-soc__icon {
    width: 16px;
    height: 16px;
  }
}
.information {
  position: relative;
  height: 100vh;
  margin-bottom: 10%;
}
@media screen and (max-width: 425px) {
  .information {
    height: 120vh;
  }
}
.information:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  -webkit-transform: skewY(-8deg);
  background-color: #1D1D1D;
  transform: skewY(-10deg);
  background-size: cover;
}
.information-container {
  height: 60vh;
  padding-top: 10%;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  padding-top: 15%;
}
@media screen and (max-width: 425px) {
  .information-container {
    height: 90vh;
    padding-top: 15%;
  }
}
.information-container-article {
  text-align: center;
}
.information-container-article__title {
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 5px;
}
.information-container-article__text {
  color: #777777;
  font-size: 20px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1440px) {
  .information-container-article {
    text-align: center;
  }
  .information-container-article__title {
    font-size: 30px;
  }
  .information-container-article__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .information-container-article {
    text-align: center;
  }
  .information-container-article__title {
    font-size: 25px;
  }
  .information-container-article__text {
    font-size: 12px;
  }
}
.information-container-peeps {
  width: 100%;
  font-size: 0;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 425px) {
  .information-container-peeps {
    display: block;
  }
}
.information-container-peeps-elem {
  width: 25%;
  text-align: center;
}
.information-container-peeps-elem-img-cont {
  width: 135px;
  height: 135px;
  border: 4px solid #ffffff;
  border-radius: 100px;
  margin: 0 auto 35px auto;
  box-sizing: border-box;
}
.information-container-peeps-elem-img-cont__img {
  height: 50px;
  background-repeat: no-repeat;
  margin: 40px auto 0 auto;
  background-size: contain;
}
.information-container-peeps-elem-img-cont__img_elm1 {
  width: 50px;
  background-image: url(../images/line-elem.png);
}
.information-container-peeps-elem-img-cont__img_elm2 {
  width: 55px;
  background-image: url(../images/heart-elem.png);
}
.information-container-peeps-elem-img-cont__img_elm3 {
  width: 50px;
  background-image: url(../images/cloud-elem.png);
}
.information-container-peeps-elem__title {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 25px;
}
.information-container-peeps-elem__text {
  font-size: 18px;
  color: #383838;
}
@media screen and (max-width: 1440px) {
  .information-container-peeps-elem-img-cont {
    width: 120px;
    height: 120px;
  }
  .information-container-peeps-elem-img-cont__img {
    margin: 35px auto 0 auto;
  }
  .information-container-peeps-elem__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .information-container-peeps-elem__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .information-container-peeps-elem-img-cont {
    width: 100px;
    height: 100px;
  }
  .information-container-peeps-elem-img-cont__img {
    margin: 30px auto 0 auto;
  }
  .information-container-peeps-elem-img-cont__img_elm1 {
    width: 40px;
  }
  .information-container-peeps-elem-img-cont__img_elm2 {
    width: 45px;
  }
  .information-container-peeps-elem-img-cont__img_elm3 {
    width: 40px;
  }
  .information-container-peeps-elem__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .information-container-peeps-elem__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .information-container-peeps-elem {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .information-container-peeps-elem-img-cont {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px auto;
  }
  .information-container-peeps-elem-img-cont__img {
    margin: 30px auto 0 auto;
  }
  .information-container-peeps-elem-img-cont__img_elm1 {
    width: 40px;
  }
  .information-container-peeps-elem-img-cont__img_elm2 {
    width: 45px;
  }
  .information-container-peeps-elem-img-cont__img_elm3 {
    width: 40px;
  }
  .information-container-peeps-elem__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .information-container-peeps-elem__text {
    font-size: 10px;
  }
}
.information-btn {
  width: 15%;
  font-size: 18px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px 0;
  margin: 10% auto 0 auto;
  font-weight: bold;
  box-sizing: border-box;
}
@media screen and (max-width: 1440px) {
  .information-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .information-btn {
    font-size: 12px;
    padding: 15px 0;
  }
}
@media screen and (max-width: 768px) {
  .information-btn {
    font-size: 10px;
    padding: 15px 0;
    margin: 10% auto 0 auto;
    width: 40%;
  }
}
@media screen and (max-width: 425px) {
  .information-btn {
    width: 60%;
    margin: 15% auto 0 auto;
  }
}
.contact-information {
  font-size: 0;
  width: 50%;
  margin: 0 auto 7% auto;
}
@media screen and (max-width: 768px) {
  .contact-information {
    width: 90%;
  }
}
.contact-information-article {
  font-size: 0;
  text-align: center;
  width: 40%;
  margin: 0 auto 35px auto;
}
.contact-information-article__title {
  font-size: 40px;
  color: #000000;
}
.contact-information-article__text {
  font-size: 20px;
  color: #888888;
}
@media screen and (max-width: 1440px) {
  .contact-information-article__title {
    font-size: 30px;
  }
  .contact-information-article__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .contact-information-article__title {
    font-size: 25px;
  }
  .contact-information-article__text {
    font-size: 12px;
  }
}
.contact-information-social {
  font-size: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.contact-information-social-elem {
  width: 20%;
  font-size: 0;
}
.contact-information-social-elem__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin: 0 auto 10px auto;
  background-size: contain;
}
.contact-information-social-elem__icon_number {
  background-image: url(../images/phone.png);
}
.contact-information-social-elem__icon_adress {
  background-image: url(../images/adress.png);
}
.contact-information-social-elem__icon_mail {
  background-image: url(../images/mail.png);
}
.contact-information-social-elem__text {
  font-size: 10px;
  color: #909090;
  text-align: center;
}
.form {
  width: 100%;
}
.form__area {
  width: 40%;
  font-size: 12px;
  line-height: 28px;
  padding: 0 15px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 20px auto;
  border: 1px solid #999999;
}
.form__area_name::-webkit-input-placeholder {
  text-align: center;
}
.form__area_email::-webkit-input-placeholder {
  text-align: center;
}
.form__area_number::-webkit-input-placeholder {
  text-align: center;
}
.form__area_text {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .form__area {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .form__area {
    width: 90%;
  }
}
.btn {
  width: 40%;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  background-color: black;
  display: block;
  margin: 0 auto;
  color: white;
  border: none;
}
@media screen and (max-width: 768px) {
  .btn {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .btn {
    width: 90%;
  }
}
.footer {
  text-align: center;
  font-size: 12px;
  color: #3b3b3b;
  margin: 60px 0 40px 0;
}
